body {
    background-color: #2b2b2b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}
label{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

input{
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #9e25df;

}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.player-wrap {
    width: 90%;
    margin: 200px auto;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button {
    background-color: #5df9de;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    margin: 0 2px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover {
    background-color: #44b2a0;
}

button i {
    font-size: 20px;
    color: #2b2b2b;
}

